@import url("https://fonts.googleapis.com/css?family=Montserrat");

/* allow scrollbar movements */

::-webkit-scrollbar {
    width: 5px;
    height: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #3ea175;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
}


/* overall styling */
.text-primary-p {
    color: #a5aaad;
    font-size: 14px;
    font-weight: 700;
}

.font-bold {
    font-weight: 700;
}

.text-title {
    color: #2e4a66;
}

.text-lightblue {
    color: #469cac;
}

.text-red {
    color: #cc3d38;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidenav nav nav nav"
        "sidenav main main main";
}

@media only screen and (max-width: 978px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas: 
            "nav"
            "main";
    }





}
