.search-bar {
  width: 60vw;
}

.search-form {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  background: #e2e2e2;
  border: none;
  border-radius: 10px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
  margin-top: 10px;
  
}

.search-button .search-icon {
  height: 15px;
  object-fit: cover;
}

