.search-bar {
    width: 60vw;
    height: 25px;
}

.search-form {
    display: flex;
    flex-direction: row;
    height: 10px;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: 1px solid black;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
    margin-top: 2px;
    
}

.search-button .search-icon {
    height: 15px;
    object-fit: cover;
}

  