.search-bar {
    width: 60vw;

}

.search-form {
    display: flex;
    flex-direction: row;
    height: 10px;
}

.search-field {
    width: 100%;
    padding: 10px 10px 10px 20px;
    border: 1px solid black;
    border-radius: 100px;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button .search-icon {
    height: 10px;
    object-fit: cover;
}

  