.topnav {
    background: #ffffff;
    grid-area: nav;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 2px solid #8db3c3;
}

.nav-icon {
    display: none;
}

.nav-icon > button {
    font-size: 26px;
    color: #8db3c3;
}

.topnav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-icon {
    font-size: 24px;
    line-height: 1em;
    padding-right: 10px;
    padding-top: 5px;
}

.add-button {
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 5px;
}

@media only screen and (max-width: 978px) {
    .nav-icon {
        display:inline;
    }
}

@media only screen and (max-width: 480px) {
    .topnav-left {
        display: none;
    }
}