@font-face {
  font-family: 'Monsterrat';
  src: url(./fonts/Montserrat-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Monsterrat-bold';
  src: url(./fonts/Montserrat-Bold.woff2) format('woff2');
}

