.partial-view {
    display: flex;
    height: 450px;
    position: absolute;
    top: auto;
    width: 100%;
    z-index: 1;
    background: #333333;
    align-items: center;
    flex-direction: row;
    padding: 16px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    left: 0;
    box-sizing: border-box;

    .exit-partial {
        height: 100%;
        padding: 20px 0px 0px 20px;

        svg.exit-button {
            font-size: 30px;
            cursor: pointer;
        }
    }

    .image-side {
        display: flex;
        padding: 20px;
        height: 330px;
        contain: content;
        width: 45vw;
        justify-content: center;
    }

    .info-side {
        display: flex;        
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        height: 330px;
        flex: 1;
        margin-left: 20px;
        margin-right: 70px;
        box-sizing: border-box;
        float: left;

        .info-title {
            display: flex;
            box-sizing: border-box;
            font-weight: bold;
            font-size: 24px;
            overflow-x: hidden;
        }

        .info-desc {
            display: flex;
            box-sizing: border-box;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .info-date {
            display: flex;
            box-sizing: border-box;
        }

        .info-more {
            display: flex;
            width: 100%;
            justify-content: right;
            box-sizing: border-box;

            .redirect-icon {
                margin-left: 5px;
            }
            
        }

        p {
            color: white;
            font-size: 18px;
        }

        #p-desc {
            font-weight: bold;
        }
    }

    .skewer-partial {
        height: 100%;
        padding: 30px 30px 0px 0px;
        position: absolute;
        box-sizing: border-box;
        right: 0;
    }
}

@media only screen and (max-width: 850px) {

    .partial-view {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;

        .exit-partial {
            align-self: flex-start;
        }

        .image-side {
            display: flex;
            position: relative;
                
        }
        .image-partial-view {
            height: 100%;
            width: fit-content;
        }
        
        .info-side {
            display: flex;
            position: relative;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
                    
            .info-title{
                justify-content: center;
                margin-bottom: 10px;
            }

            p { 
                max-height: 7.5ch;
                overflow: hidden;
                text-overflow: ellipsis;
                    
            }
        
        }
            
    }
    
}

@media only screen and (max-width: 800px) {
    .partial-view {
        .image-side {
            width: 45vw;

            img {
                width: 45vw;
                object-fit: cover;
            }
        }
    }

}
