.partial-view {
    display: flex;
    height: 450px;
    position: absolute;
    top: auto;
    width: 100%;
    z-index: 1;
    background: #333333;
    align-items: center;
    flex-direction: row;
    padding: 16px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    left: 0;
    box-sizing: border-box;
    box-shadow: inset 0 19px 7px #0000002b;

    .exit-partial {
        height: 100%;
        padding: 20px 0px 0px 20px;

        svg.exit-button {
            font-size: 30px;
            cursor: pointer;
        }
    }

    .image-side {
        display: flex;
        padding: 20px;
        height: 330px;
        justify-content: center;
        box-sizing: border-box;
        overflow: visible;
        width: 45vw;

        img {
            border-radius: 7px;
            box-shadow: 0 6px 13px #00000070;
        }
    }

    .info-side {
        display: flex;        
        flex-direction: column;
        justify-content: space-between;
        height: 330px;
        flex: 1;
        margin-left: 20px;
        margin-right: 70px;
        box-sizing: border-box;
        float: left;

        .info-title {
            display: flex;
            box-sizing: border-box;
            font-weight: bold;
            font-size: 24px;
            overflow-x: hidden;
            letter-spacing: 0.03em;
            color: white;
            margin-bottom: 15px;
        }

        .info-desc {
            display: flex;
            box-sizing: border-box;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .info-date {
            display: flex;
            box-sizing: border-box;
        }

        .info-more {
            display: flex;
            width: 100%;
            justify-content: right;
            box-sizing: border-box;
            font-variant-caps: all-petite-caps;
            font-weight: bold;
            letter-spacing: -0.03em;

            p {
                box-shadow: -4px -2px 10px transparent;
                transition: 200ms;
                border-radius: 4px;

                &:hover {
                    box-shadow: 1px 4px 10px black;
                    padding: 7px;
                    background-color: #222;
                }
            }

            .redirect-icon {
                margin-left: 5px;
            }
            
        }

        p {
            color: white;
            font-size: 18px;
        }

        #p-desc {
            font-family: Monsterrat-bold;
            font-variant-caps: all-petite-caps;
            letter-spacing: 0.03em;
        }
    }

    .skewer-partial {
        height: 100%;
        padding: 30px 30px 0px 0px;
        position: absolute;
        box-sizing: border-box;
        right: 0;
    }
}

@media only screen and (max-width: 850px) {

    .partial-view {
        display: flex;
        flex-direction: column;
        height: max-content;
        width: 100%;

        .exit-partial {
            align-self: flex-start;
        }

        .image-side {
            display: flex;
            position: relative;
            
        }
        .image-partial-view {
            height: 100%;
            width: fit-content;
        }
        
        .info-side {
            display: flex;
            position: relative;
            margin-left: 10px;
            margin-bottom: 10px;
            margin-right: 10px;
            width: 45vw;
                    
            .info-title{
                justify-content: center;
                margin-bottom: 10px;
            }

            p { 
                max-height: 7.5ch;
                overflow: hidden;
                text-overflow: ellipsis;
                    
            }
        
        }
            
    }
    
}

@media only screen and (max-width: 800px) {
    .partial-view {
        .image-side {
            width: 90vw;

            img {
                width: 45vw;
                object-fit: cover;
            }
        }
    }

}

.grey, .grey * {
    color: #c1c1c1;
}

.smaller {
    font-size: smaller;
}
