main {
    grid-area: main;
}

.main-container {
    // height: 100vh;
}

.main-cards {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
    gap: 30px;
    margin: 20px 0;

}

.section-cards {
    display: block;
    position: relative;
}

.feed-cards {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0 6px;
    justify-content: center;
}

.card-container {
    padding: 6px;
    flex-basis: 0%;
    flex-shrink: 1;
    display: block;
}

.card {
    min-width: 0;
    margin: 15px 20px;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 2px 8px 10px hsla(190deg, 70%, 10%, 10%), -5px -5px 13px hsla(0, 0%, 94.9%, 50%);
    border: 1px solid hsl(0deg 0% 88%);
}

.card > img {
    height: 200px;
    object-fit: contain;
    width: 100%;

    /* Overwrites the previous one,
     * so that we can switch and compare in dev tools */
    object-fit: cover;
}

a.link-line {
    color: black;
    text-decoration: none;
}

.card-title {
    padding: 5px;
    margin: 10px auto;
    white-space: nowrap; 
    text-align: center;
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    letter-spacing: -0.04em;
}

.card-extended {
    padding-bottom: 700px;
    background: blue;
    
}

article {
    display: block;

}

@media only screen and (max-width: 855px) {
    .main-cards {
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }

}
