.main-cards {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
    gap: 30px;
    margin: 20px 0;

}

.section-cards {
    display: block;
    position: relative;
}

.feed-cards {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0 6px;
    justify-content: center;
}

.card-container {
    padding: 6px;
    flex-basis: 0%;
    flex-shrink: 1;
    display: block;
    display:table;
}

.card-hover {
    min-width: 0;
    margin: 0px 0px 0px 20px;
    width: 13.4em;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px 25px 0 25px;
    border-radius: 5px;
    position: absolute;
}

.card-wrapper, .list-table .table-body {

    &:hover .skewer-button {
        opacity: 1;
        box-shadow: 0px 5px 5px #0000005e, inset 0 0 2px #00000038;
    }

    & .skewer-button {
        display: block;
        opacity: 0;
        box-shadow: -2px -1px 3px transparent;
        transition: 200ms;
    }
}


.card {
    min-width: 0;
    margin: 25px;
    width: 14.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 13px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #fff, inset 2px 2px 3px #0000000f;
}

.card > img {
    height: 200px;
    object-fit: contain;
    width: 100%;
    cursor: pointer;
}

a.link-line {
    color: black;
    text-decoration: none;
}

.card-title {
    padding: 5px;
    margin: 0 auto;
    white-space: nowrap; 
    text-align: center;
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-extended {
    padding-bottom: 700px;
    background: blue;
    
}

article {
    display: block;

}

@media only screen and (max-width: 855px) {
  
    .main-cards {
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }

}
