:root {
    --shadow: -4px -3px 4px hsla(0, 0%, 100%, 1),
              inset 1px 1px 4px hsla(198, 100%, 70%, 0.1),
              0px 2px 4px hsla(198, 100%, 0%, 0.1),
              0px 4px 9px hsla(198, 100%, 60%, 0.1);
    --shadow-click: inset -4px -3px 4px hsla(0, 0%, 100%, 1),
                    1px 1px 4px hsla(198, 100%, 70%, 0.1),
                    inset 0px 2px 4px hsla(198, 100%, 0%, 0.1),
                    inset 0px 4px 9px hsla(198, 100%, 60%, 0.1);
    --color--primary__900: hsl(190deg, 100%, 15%);
    --color--primary__900: hsl(190deg, 100%, 15%);
    --color--primary__500: hsl(190deg, 31%, 50%);
    --color--primary__700: hsl(190.6deg, 23.3%, 32.3%);
}

.record-page {
    display: flex;
    height: 100vh;

    form {
        padding: 70px 42px;
        display: flex;
        flex-direction: column;
        width: 80vw;

        & > h1 {
            font-size: 20px;
            font-variant-caps: all-small-caps;
            letter-spacing: 0.05em;
            font-family: Monsterrat-bold;
            color: hsl(180deg, 7%, 49%);
        }

        .data-entry-fields {
            display: flex;
            justify-content: center;
            padding: 0 20px;
            margin-bottom: -50px;

            $width: 45vw;
            .data-entry-fields--text-insert {
                width: $width;
                list-style: none;
                padding: 0;

                li {
                    line-height: 0.35;
                    margin-bottom: 15px;
                }

                label {
                    letter-spacing: -0.06em;
                    font-size: medium;
                    font-weight: bold;
                    padding-left: 4px;
                    color: var(--color--primary__900)
                }

                input, textarea {
                    font-family: Monsterrat;
                    border: 1px solid #fdfdfd;
                    border-radius: 7px;
                    margin-top: 0.75em;
                    margin-bottom: 25px;
                    padding: 10px;
                    font-weight: bold;
                    font-size: 0.95em;
                    width: 35vw;
                    box-shadow: var(--shadow);
                    background-color: #f8f8f8;

                    &:focus {
                        outline: 2px solid var(--accent-color);
                    }
                }
            }

            .data-entry-fields--image-upload {
                width: calc(100vw - $width);

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 3vw;

                label {
                    color: var(--color--primary__900);
                    font-size: medium;
                    letter-spacing: -0.06em;
                    font-weight: bold;
                    margin-top: 10px;
                    margin-bottom: -5px;
                    padding-left: 4px;
                }

                .data-entry-fields--image-upload--upload-button {
                    width: 29vw;
                    height: 40vh;
                    // background-color: white;
                    border: 1px dashed #000;
                    border-radius: 10px;
                    padding: 40px;
                    margin-bottom: 40px;
                    box-shadow: 1px 1px 3px hsla(198deg, 100%, 10%, 0.05), 0px 8px 10px hsla(198deg, 100%, 45%, 0.05);
                    color: hsl(0, 0%, 57%);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    & > span {
                        color: var(--color--primary__700);
                        font-family: Monsterrat-bold;
                        cursor: pointer;
                    }

                    &:hover > span {
                        text-decoration: underline;
                    }
                    
                    input {
                        display: none;
                    }
                }

                .data-entry-fields--image-upload--upload-complete {
                    img {
                        width: calc(29vw + 80px);
                        color: var(--color--primary__700);
                        border-radius: 10px;
                        box-shadow: -8px -4px 5px white, 0px 5px 3px hsla(198deg, 100%, 0%, 0.05), 0 10px 20px hsla(198deg, 100%, 7%, 0.15);
                    }
                }

                .data-entry-fields--image-upload--restart {
                    margin-top: 27px;
                    color: var(--color--primary__700);
                    font-size: 14px;
                    

                    input[type='file'] {
                        display: none;
                    }

                    & > label {
                        font-size: 14px;
                        color: var(--color--primary__900);
                        cursor: pointer;
                        font-family: Monsterrat-bold;
                        text-decoration: underline;
                        transition: 200ms ease-in;

                        &:hover {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .response-button {
            width: 40vw;
            display: flex;
            justify-content: space-around;
            padding-bottom: 50px;

            button {
                font-family: Monsterrat-bold;
                cursor: pointer;
                color: white;
                font-size: 1.2em;
                padding: 0.7em;
                width: 9em;
                border: 0;
                border-radius: 20px;
                box-shadow: var(--shadow);
                text-shadow: 0 2px 5px hsla(198deg, 88%, 28%, 0.2);
            }

            .response-button__submit {
                background-color: var(--accent-color-darker);
                box-shadow: 1px 2px 4px hsla(198deg, 70%, 20%, 0.4);
                transition: 200ms;

                &:active {
                    box-shadow: inset -2px -4px 6px hsla(198deg, 51%, 40%, 0.7), 0px 1px 4px hsla(198deg, 70%, 20%, 0.4);
                }
            }

            .response-button__cancel {
                background-color: #f9f9f9;
                color: var(--color--primary__500);
                box-shadow: var(--shadow);
                border: 1px solid hsla(198, 31%, 88%, 0.2);

                &:active {
                    box-shadow: var(--shadow-click);
                }
            }
        }
    }

    label {
        font-weight: 500;
        font-size: 1.3em;
        color: var(--txt-color);
    }


    input[type="date"] {
        font-family: "Montserrat" !important;
        align-items: flex-start;
    }

    input[type="date"]::-webkit-inner-spin-button,
    input[type="date"]::-webkit-calendar-picker-indicator {
        align-self: flex-end;
    }

    .feedback {
        font-size: 14px;
        font-family: Monsterrat-bold;
        color: var(--color--primary__900);
    }

    .box {
        height: 60%;
        margin-top: 0.75em;
    }
}

.descriptionArea {
    resize: none;
}

@media only screen and (max-width: 978px) {
    .record-page {
        form {
            .data-entry-fields {
                flex-direction: column;
                width: 80vw;
                align-items: center;
                margin-bottom: 0;

                $inner-width: 60vw;
                .data-entry-fields--text-insert {
                    width: $inner-width;

                    li {
                        display: flex;
                        flex-direction: column;

                        input, textarea {
                            width: $inner-width;
                        }
                    }
                }

                .data-entry-fields--image-upload {
                    width: $inner-width;
                    padding-left: 0;

                    .data-entry-fields--image-upload--description {
                        margin-right: 0;
                        width: 58vw;
                    }

                    .data-entry-fields--image-upload--upload-button {
                        width: 51.6vw;
                    }

                    .data-entry-fields--image-upload--upload-complete {
                        img {
                            width: 61vw;
                        }
                    }
                    
                }
            }

            .response-button {
                width: 85vw;
            }

            .feedback {
                margin: 20px auto;
                position: relative;
                left: 3vw;
            }
        }
    }
}
