:root {
  --shadow: -4px -3px 4px hsla(0, 0%, 100%, 1), inset 1px 1px 4px hsla(198, 100%, 70%, 0.1), 0px 2px 4px hsla(198, 100%, 0%, 0.1), 0px 4px 9px hsla(198, 100%, 60%, 0.1);
  --color--primary__900: hsl(190deg, 100%, 15%);
  --color--primary__900: hsl(190deg, 100%, 15%);
  --color--primary__500: hsl(190deg, 31%, 50%);
  --color--primary__700: hsl(190.6deg, 23.3%, 32.3%);
}

.record-page {
  display: flex;
  height: 100vh;
}
.record-page form {
  padding: 70px 42px;
  display: flex;
  flex-direction: column;
  width: 80vw;
}
.record-page form > h1 {
  font-size: 20px;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.05em;
  font-family: Monsterrat-bold;
  color: hsl(180deg, 7%, 49%);
}
.record-page form .data-entry-fields {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: -50px;
}
.record-page form .data-entry-fields .data-entry-fields--text-insert {
  width: 45vw;
  list-style: none;
  padding: 0;
}
.record-page form .data-entry-fields .data-entry-fields--text-insert li {
  line-height: 0.35;
  margin-bottom: 15px;
}
.record-page form .data-entry-fields .data-entry-fields--text-insert label {
  letter-spacing: -0.06em;
  font-size: medium;
  font-weight: bold;
  padding-left: 4px;
  color: var(--color--primary__900);
}
.record-page form .data-entry-fields .data-entry-fields--text-insert input, .record-page form .data-entry-fields .data-entry-fields--text-insert textarea {
  font-family: Monsterrat;
  border: 1px solid #fdfdfd;
  border-radius: 7px;
  margin-top: 0.75em;
  margin-bottom: 25px;
  padding: 10px;
  font-weight: bold;
  font-size: 0.95em;
  width: 35vw;
  box-shadow: var(--shadow);
  background-color: #f8f8f8;
}
.record-page form .data-entry-fields .data-entry-fields--text-insert input:focus, .record-page form .data-entry-fields .data-entry-fields--text-insert textarea:focus {
  outline: 2px solid var(--accent-color);
}
.record-page form .data-entry-fields .data-entry-fields--image-upload {
  width: 55vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 3vw;
}
.record-page form .data-entry-fields .data-entry-fields--image-upload label {
  color: var(--color--primary__900);
  font-size: medium;
  letter-spacing: -0.06em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: -5px;
  padding-left: 4px;
}
.record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--upload-button {
  width: 29vw;
  height: 40vh;
  border: 1px dashed #000;
  border-radius: 10px;
  padding: 40px;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px hsla(198deg, 100%, 10%, 0.05), 0px 8px 10px hsla(198deg, 100%, 45%, 0.05);
  color: hsl(0deg, 0%, 57%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--upload-button > span {
  color: var(--color--primary__700);
  font-family: Monsterrat-bold;
  cursor: pointer;
}
.record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--upload-button:hover > span {
  text-decoration: underline;
}
.record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--upload-button input {
  display: none;
}
.record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--upload-complete img {
  width: calc(29vw + 80px);
  color: var(--color--primary__700);
  border-radius: 10px;
  box-shadow: -8px -4px 5px white, 0px 5px 3px hsla(198deg, 100%, 0%, 0.05), 0 10px 20px hsla(198deg, 100%, 7%, 0.15);
}
.record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--restart {
  margin-top: 27px;
  color: var(--color--primary__700);
  font-size: 14px;
}
.record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--restart input[type=file] {
  display: none;
}
.record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--restart > label {
  font-size: 14px;
  color: var(--color--primary__900);
  cursor: pointer;
  font-family: Monsterrat-bold;
  text-decoration: underline;
  transition: 200ms ease-in;
}
.record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--restart > label:hover {
  font-size: 15px;
}
.record-page form .response-button {
  width: 40vw;
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}
.record-page form .response-button button {
  font-family: Monsterrat-bold;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  padding: 0.7em;
  width: 9em;
  border: 0;
  border-radius: 20px;
  box-shadow: var(--shadow);
  text-shadow: 0 2px 5px hsla(198deg, 88%, 28%, 0.2);
}
.record-page form .response-button .response-button__submit {
  background-color: var(--accent-color-darker);
}
.record-page form .response-button .response-button__cancel {
  background-color: #f9f9f9;
  color: var(--color--primary__500);
  box-shadow: var(--shadow);
  border: 1px solid hsla(198deg, 31%, 88%, 0.2);
}
.record-page label {
  font-weight: 500;
  font-size: 1.3em;
  color: var(--txt-color);
}
.record-page input[type=date] {
  font-family: "Montserrat" !important;
  align-items: flex-start;
}
.record-page input[type=date]::-webkit-inner-spin-button,
.record-page input[type=date]::-webkit-calendar-picker-indicator {
  align-self: flex-end;
}
.record-page .feedback {
  font-size: 14px;
  font-family: Monsterrat-bold;
  color: var(--color--primary__900);
}
.record-page .box {
  height: 60%;
  margin-top: 0.75em;
}

.descriptionArea {
  resize: none;
}

@media only screen and (max-width: 978px) {
  .record-page form .data-entry-fields {
    flex-direction: column;
    width: 80vw;
    align-items: center;
    margin-bottom: 0;
  }
  .record-page form .data-entry-fields .data-entry-fields--text-insert {
    width: 60vw;
  }
  .record-page form .data-entry-fields .data-entry-fields--text-insert li {
    display: flex;
    flex-direction: column;
  }
  .record-page form .data-entry-fields .data-entry-fields--text-insert li input, .record-page form .data-entry-fields .data-entry-fields--text-insert li textarea {
    width: 60vw;
  }
  .record-page form .data-entry-fields .data-entry-fields--image-upload {
    width: 60vw;
    padding-left: 0;
  }
  .record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--description {
    margin-right: 0;
    width: 58vw;
  }
  .record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--upload-button {
    width: 51.6vw;
  }
  .record-page form .data-entry-fields .data-entry-fields--image-upload .data-entry-fields--image-upload--upload-complete img {
    width: 61vw;
  }
  .record-page form .response-button {
    width: 85vw;
  }
  .record-page form .feedback {
    margin: 20px auto;
    position: relative;
    left: 3vw;
  }
}

/*# sourceMappingURL=RecordPage.css.map */
