@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

/* overall styling */

:root {
    --body-bg: #ffffff;
    --box-bg: #fff;
    --txt-color: #000000;
    --txt-second-color: #C5C5C5;
    --button-color: #8DB3C3;

}

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing:border-box;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    background-color: var(--body-bg);
    color: var(--txt-color);
} 

.container1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 3fr;
    grid-template-areas:
        "sidenav main"
}

.container1 form {
    padding: 70px 35px;
    grid-area: main;
    display: grid;
    grid-template-rows: 0.2fr 3fr 0.2fr;
    grid-template-areas: 
        "title"
        "form"
        "submit"
}

.container2 {
    display: grid;
    grid-template-columns: 0.512fr 0.075fr 0.412fr;
    grid-template-areas:
        "input gap upload";
}

.container1 #input.container3 {
    grid-area: input;
    box-sizing:border-box;
}

.container1 #upload.container3 {
    grid-area: upload;
    box-sizing:border-box;
}

@media only screen and (max-width: 978px) {
    .container1 {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "main";
    }

    .container2 {
        grid-template-columns: 1fr;
        grid-template-areas:
            "input"
            "gap"
            "upload";
    }

    .container3 {
        margin-bottom: 55px;
    }
}

.container h1 {
    font-weight: 600;
    font-size: 1.7em;
    color: var(--txt-color);
    margin-bottom: 2em;
}

.container1 label {
    font-weight: 500;
    font-size: 1.3em;
    color: var(--txt-color);
}

.container1 input, .container1 textarea {
    box-sizing:border-box;
    border: 1px solid #C5C5C5;
    border-radius: 7px;
    margin-top: 0.75em;
    margin-bottom: 25px;
    padding: 10px;
    font-weight: 400;
    font-size: 1.2em;
    color: var(--txt-color);
    width: 100%;
}

.container1 input[type="date"] {
    font-family: "Montserrat" !important;
    align-items: flex-start;
}

.container1 input[type="date"]::-webkit-inner-spin-button,
.container1 input[type="date"]::-webkit-calendar-picker-indicator {
    align-self: flex-end;
}

.container1 button {
    font-family: "Montserrat";
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    padding: 0.7em;
    width: 9em;
    border: 0;
    border-radius: 20px;
    background: var(--button-color);
    box-shadow: 0px 36px 14px rgba(0, 0, 0, 0.01), 0px 20px 12px rgba(0, 0, 0, 0.05), 0px 9px 9px rgba(0, 0, 0, 0.09), 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}

.container1 #button.container2 {
    justify-items:right;
}

.container1 .box {
    height: 60%;
    margin-top: 0.75em;
    box-sizing: border-box;
}

.descriptionArea {
    resize: none;
}